  @import url('https://fonts.googleapis.com/css?family=Quicksand');
  @import url('./sideLoad.css');

  /* app styles */

  #app {
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }


  #app .center-content {
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
  }

  #app h1 {
    font-size: 4em;
  }

  #app p.subtitle {
    margin-top: 20px;
    font-size: 1.3em;
  }

  #app .btn-rounded {
    font-size: 1.5em;
    padding: 8px 16px;
    border-radius: 16px;
    font-weight: lighter;
    background: #000000;
    color: #ffffff;
    border: none;
  }

  .btn-rounded :hover {
    background: #ffffff;
    color: #000000;
    background: #ffffff;
    color: #000000;
    border: 1px solid white;
  }

  #app .animate {
    transition: 1s all ease;
    -moz-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -o-transition: 1s all ease;
    -ms-transition: 1s all ease;
  }
  